.CanbanTaskCard{
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  min-width: 0;
  height: 100px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  z-index: 999;
}
.tasktTitle{
  font-size: 12px;
}
.CanbanTaskCard.hasPriority .taskTags1 {
  padding-left: 25px;
}
.taskTag{
  display: inline-flex;
  align-items: center;

  padding: 3px 8px;

  border-radius: 5px;

  background: #f0e9ff;
  color: #6941c6;

  font-size: 11px;
  font-weight: 600;
}
.taskPriority {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  font-size: 18px;
  top: 50%;
  left: 10px;

  transform: translateY(-50%);
}
.taskPriority svg {
  margin: -4px 0;
}

.priority-low {
  color: #12b76a;
}

.priority-high {
  color: #f79009;
}

.priority-critical {
  color: #f04438;
}
.taskInfo{
  display: flex;
  justify-content: end;
  gap: 9px;
}
.CanbanTaskCard.assignedToMe::after {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  bottom: 8px;
  width: 4px;
  background-color: #61b37d;
  border-radius: 4px 0 0 4px;
}
.taskDeadline{
  display: flex;
  align-items: center;
  gap: 4px;

  color: #667085;

  font-size: 11px;
  font-weight: 500;
}
.CanbanTaskCard.dragging {
  visibility: hidden;
}