.createProjectFormItem{
  width: 100%;
  display: flex;
  gap: 7px;
  flex-direction: column;
}
.createProjectFormTitle{
  font-size: 14px;
}
.inputFieldMini,
.inputFieldMax{
  padding: 10px 5px;
  border-radius: 8px;
  border: 1.6px solid #e6e8ea;
  width: 100%;
  outline: none;
}
.inputFieldMini:focus,
.inputFieldMax:focus {
  border-color: #6791f4;
}
.inputFieldMini,
.inputFieldMax {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.keyProjectDescription{
  font-size: 12px;
  color: #89909d;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.inputErrorText {
  margin: 0;
  min-height: 15px;
  color: #ef4444;
  font-size: 12px;
}
