.mini-card {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f8f9f9;
  border-bottom: 1px solid #f8f9f9;
  padding: 10px;
}

.mini-cardTitle {
  font-size: 12px;
}
.mini-cardDetails{
  display: flex;
  gap: 15px;
}
.priority {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 22px;

  border-radius: 6px;
  padding: 0 8px;
  font-size: 12px;
  font-weight: bold;
}

.status {
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  height: 22px;
  border-radius: 6px;
  padding: 0 8px;
  font-weight: bold;
}