.toRegister{
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.toRegister p{
  margin: 0;
  text-align: center;
}
.toRegister button{
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 5px;
  color: #005ef7;
  font-size: 16px;
  background-color: #f5f8fb;
}
.toRegister button:hover{
  color: #3982f8;
}