.projectInfoDescription{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 36vh;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.12);
}
.projectInfoDescriptionTitle{
  font-size: 18px;
}
.infoDescriptionTitle{
  display: flex;
  gap: 15px;
  font-size: 14px;
  color: #656e81;
}
.projectDescriptionInfo{
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #656e81;
}