.teamActivity{
  width: 18.2vw;
  height: 40vh;
  background-color: #fefefe;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.titleTeamActivity{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.titleTeamActivity h2{
  font-size: 18px;
}
.seeAllTeamActivity{
  text-decoration: none;
  color: #2e7dfb;
}