.peopleActivity{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.peopleAvatar{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.peopleInfo {
  display: flex;
  align-items: center;
  gap: 10px;

  flex: 1;
  min-width: 0;
}
.peopleActivityName{
  font-size: 14px;
}
.peopleText {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}
.peopleActivityDescr {
  color: #989ea6;
  font-size: 12px;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
}
.peopleActivityTime{
  color: #989ea6;
  font-size: 12px;
}