.myProjects {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  height: 40vh;
  min-height: 300px;
  max-height: 500px;
  border-radius: 12px;
  background-color: #fefefe;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.myProjectsTitle{
  font-size: 18px;
}
.myProjectsHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.myProjectsList {
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: auto;
    flex: 1;
}
.myProjectsList::-webkit-scrollbar {
  width: 6px;
}

.myProjectsList::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

.myProjectsList::-webkit-scrollbar-track {
  background: transparent;
}
@media (max-width: 768px) {
    .myProjects {
        width: 100%;
        max-width: none;
        height: 60vh;
        border-radius: 10px;
    }
}