.dashboardLeftSide{
  display: flex;
  flex-direction: column;
  width: 13.2vw;
  min-height: 100vh;
  min-width: 220px;
  padding-top: 40px;
  background-color: #101c27;
  flex-shrink: 0;
}
.firstHeadline{
  color: #2283ef;
  font-size: 28px;
  transition: 0.3s;
}
.secondHeadline{
  color: #fff;
  font-size: 28px;
  transition: 0.3s;
}
.dashboardCheckHeadLine{
  width: 27px;
  height: 27px;
  margin-right: 12px;
  transition: 0.3s;
}
.openMenuDashboard{
  display: none;
}
.dashboardLogo{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 9%;
  padding-bottom: 9%;
  user-select: none;
  -webkit-user-select: none;
}
.dashboardLogo:hover .firstHeadline{
  color: #fff;
}
.dashboardLogo:hover .secondHeadline{
  color: #2283ef;
}
.dashboardLogo:hover .dashboardCheckHeadLine{
  transform: rotate(10deg);
}

@media(max-width: 768px){
  .openMenuDashboard{
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: transparent;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  .dashboardLeftSide {
    position: relative;
    width: 100%;
    min-width: 0;
    min-height: 70px;
    height: 70px;
    padding-top: 0;
    flex-direction: column;

    }

    .dashboardLogo {
      height: 70px;
      padding: 0 20px;
      box-sizing: border-box;
    }
}