.register{
  display: flex;
}
.titleFirst{
  color: #f9f7f7;
  font-size: clamp(28px, 3vw, 40px);
  transition: color 0.3s ease;
}
.titleSecond{
  color: #0d74f4;
  font-size: clamp(28px, 3vw, 40px);
  transition: color 0.3s ease;
}
.logo{
  display: flex;
  align-items: center;
  padding: 0 9%;
}
.logo:hover .titleFirst {
  color: #0d74f4;
}

.logo:hover .titleSecond {
  color: #f9f7f7;
}
.check_mark{
  width: 40px;
  height: 40px;
  margin-right: 15px;
  transition: transform 0.3s ease;
}
.logo:hover .check_mark {
  transform: rotate(10deg);
}
.leftSide{
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 30vw;
  height: 100vh;
  padding-top: 78px;
  background-color: #011227;
}
.slogan{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 0 9%;
}
.sloganTitle{
  max-width: 400px;
  color: #ffff;
  font-size: clamp(28px, 3vw, 40px);
}
.sloganDescription{
  max-width: 360px;
  color: #aebbca;
  font-size: clamp(10px, 2vw, 17px);
}
.taskPeopleImage{
  width: 100%;
  height: auto;
}
.regDescription{
  color: #989fab;
}
.passwordDescr{
  color: #989fab;
  font-size: clamp(13px, 2vw, 15px);
}
.toLogin{
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.toLogin p{
  margin: 0;
}
.toLogin button{
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 5px;
  color: #005ef7;
  font-size: 16px;
  background-color: #f5f8fb;
}
.toLogin button:hover{
  color: #3982f8;
}