.register{
  display: flex;
  width: 100%;
  height: 100%;
}
.loginWindow{
  display: flex;
}
.rightSide1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 0;
    min-height: 100vh;
    padding: 40px;
    box-sizing: border-box;
    background-color: #f5f8fb;
}
.registerWindow1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 16px;

    width: min(100%, 840px);

    padding: 48px;

    border-radius: 16px;
    background-color: #fefdfd;
}
.regTitle{
  font-size: clamp(17px, 3vw, 36px);
}
.regDescription{
  color: #989fab;
}
.regMenu{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 16px;
  width: 100%;
  max-width: 730px;
  height: 100%;
  max-height: 470px;
  margin-top: 16px;
}
.regMunuTitle{
  font-size: clamp(13px, 2vw, 16px);
}
.errMessage{
  text-align: center;
}
.slogan{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 0 9%;
}
.sloganTitle{
  max-width: 400px;
  color: #ffff;
  font-size: clamp(28px, 3vw, 40px);
}
.sloganDescription{
  max-width: 360px;
  color: #aebbca;
  font-size: clamp(14px, 1.5vw, 17px);
}
.taskPeopleImage {
    display: block;
    width: 100%;
    max-width: 500px;
    height: auto;
}
.regDescription{
  color: #989fab;
}
.passwordDescr{
  color: #989fab;
  font-size: clamp(13px, 2vw, 15px);
}
.toLogin{
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.toLogin p{
  margin: 0;
}
.toLogin button{
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 5px;
  color: #005ef7;
  font-size: 16px;
  background-color: #f5f8fb;
}
.toLogin button:hover{
  color: #3982f8;
}

@media (max-width: 768px) {
    .register {
        flex-direction: column;
    }

    
    .toLogin p{
      display: none;
    }
    .toLogin button{
      padding: 5px 10px;
    }
    .rightSide1 {
        width: 100%;
        min-height: calc(100vh - 70px);

        padding: 30px 20px;

        justify-content: flex-start;

        overflow-y: auto;
    }

    .registerWindow1 {
        width: 100%;
        max-width: 600px;

        padding: 20px 20px;

        height: auto;
    }
}